body {
    text-align: center;
    font-size: 75px;
    font-family: cursive;
    background-color: cadetblue;

}

input {
    text-align: justify;
    border-radius: 25px;
    width: 100px;
    height: 100px;
    font-size: 75px;
    
}